@keyframes stroke1 {
  0% {left: 0px;}
  100% {left: 2118px;}
}
@keyframes stroke2 {
    0% {left: -2118px;}
    100% {left: 0px;}
}
@keyframes stroke22 {
  0% {left: 0px;}
  100% {left: 2654px;}
}
@keyframes stroke222 {
    0% {left: -2660px;}
    100% {left: 0px;}
}
@keyframes stroke3 {
  0% {left: 0px;}
  100% {left: 1550px;}
}
@keyframes stroke33 {
    0% {left: -1550px;}
    100% {left: 0px;}
}

@keyframes zavod1 {
  0% {left: 0px;}
  100% {left: 1790px;}
}
@keyframes zavod2 {
    0% {left: -1790px;}
    100% {left: 0px;}
}

@keyframes ice1 {
  0% {left: 0px;}
  100% {left: 1740px;}
}
@keyframes ice2 {
    0% {left: -1800px;}
    100% {left: 0px;}
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
