@media all and (min-width: 320px) and (max-width: 1023px) {

  p, h2 {
    font-size: 2em;
  }

  .wrapper2, .wrapper3 {
     grid-template-rows: repeat(7, 9em);
  }
  .minus4 img {
    height: 100%;
  }
  .zavod img{
      height: 120%;
  }

}
